* {
    width: 100%;
    margin: 0px;
    padding: 0%;
}

.zwbox {
    background-color: whitesmoke;
    margin: 60px, 60px;
    width: 300px;
    display: block;
    padding: 20px;
    border-radius: 10%;
    position: center;
}

.zbbox {
    background-color: rgb(22, 156, 239);
    width: 350px;
    display: block;
    padding: 50px 50px;
    margin: 160px 160px;
    position: center;
}

.para {

    font-size: large;
    text-align: justify;
}

.zcircle {

    float: left;
}

.zstar {
    background-color: rgb(96, 72, 121);
    height: 25px;
    width: 25px;
    padding: 5px;
    margin: 0px 15px;
    border-radius: 50%;

    /* position: sticky; */
    float: left;

}

h1 {
    text-align: center;
}

.bout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px 20px;
    border-radius: 50%;
    border-width: 1px;
}

#but_submit {

    background-color: rgb(17, 17, 111);
    color: white;
    position: center;
    width: 300px;
    border-radius: 25%;
}